<p>
  Welcome to Star Power Music, a dynamic musical school bursting with opportunities for students to learn and collaborate. At Star Power Music we believe that music is much more than learning a musical skill, or developing an ear for melodies, or increasing one’s mental capacity.</p>

<p>  We prepare students for Jazz Band auditions, music school applications and to play in rock bands and summer camps to rock the stage!</p>

<p> In addition to having developed our own level testing methodology we are now introducing a guitar music learning system called Notabtion tm that allows our students to make significant improvements in an intuitive and engaging way.</p>
